/*
Theme Name: General News
Theme URI:  https://afthemes.com/products/generalnews/
Author:     AF themes
Author URI: https://afthemes.com/
Description: General News is a practical, widgetized WordPress child theme built on MoreNews for news portals, journals, magazines and blogs that need a reliable, easy-to-configure layout; it offers several free demos with 1-click import, 9+ custom widgets, multiple main banner choices, header/footer builder support, light/dark mode and live customizer options, and is compatible with Elementor, Gutenberg blocks and WooCommerce; General News is SEO-optimized, AMP-ready, Core Web Vitals-friendly, multilingual and RTL-ready, and designed to help publishers launch content-rich, search-friendly and globally-accessible sites quickly. https://afthemes.com/products/generalnews/
Template: morenews
Version: 1.1.3
Requires at least: 5.0
Requires PHP: 5.0
Tested up to: 6.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: general-news
Tags: news, blog, entertainment, one-column, two-columns, three-columns, four-columns, grid-layout, block-patterns, block-styles, left-sidebar, right-sidebar, custom-header, flexible-header, custom-background, custom-logo, custom-menu, custom-colors, featured-images, full-width-template, post-formats, rtl-language-support, footer-widgets, translation-ready, theme-options, threaded-comments, wide-blocks

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

General News WordPress Theme, Copyright 2024 AF themes
General News is distributed under the terms of the GNU GPL v2 or later.
*/

body,
button,
input,
select,
optgroup,
textarea {
    line-height: 1.7;
}

body .reply a,
div#respond input[type="submit"],
.btn-style1 a:visited,
.btn-style1 a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    padding: 5px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;    
}

.exclusive-posts .exclusive-now{
    background-color: #bb1919;
}

.main-navigation .menu-description{
    background-color: #bb1919;
}

.main-navigation .menu-description:after{
    border-top: 5px solid #bb1919;
}

.af-cat-widget-carousel a.morenews-categories.category-color-1{
    background-color: #bb1919;

}

a.morenews-categories.category-color-1{
    color: #bb1919;
}

.af-cat-widget-carousel a.morenews-categories.category-color-2 {
    background-color: #0098fe;
    
}

a.morenews-categories.category-color-2 {
    color: #0098fe;
}

.af-cat-widget-carousel a.morenews-categories.category-color-3{
    background-color: #353535;
}

a.morenews-categories.category-color-3 {
    color: #353535;
}

.aft-default-mode .entry-content>.wp-block-heading a:not(.has-link-color) {
    border-color: #bb1919;
}
.gt_float_switcher .gt_options a {
    background-color: #fff !important;
    color: #444 !important;
}
#gt_float_wrapper .gt_float_switcher .gt_options a {
    font-size: 15px;
    font-weight: 600;
    padding: 8px 10px;
}